@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #eff1f6;
    /* --background: #141925; */
    --foreground: 222.2 84% 4.9%;

    --header: #141925;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: #6fce55;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 107, 46%, 63%;

    --secondary: #1c2533;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: #e13258;
    --destructive-foreground: 210 40% 98%;

    --success: #b5e0aa;
    --success-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #eff1f6;
    /* --background: #141925; */
    --foreground: 222.2 84% 4.9%;

    --header: #141925;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: #6fce55;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 107, 46%, 63%;

    --secondary: #1c2533;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: #e13258;
    --destructive-foreground: 210 40% 98%;

    --success: #b5e0aa;
    --success-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {

  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-background border-2 border-slate-200 dark:border-ring hover:border-neutral-400 dark:hover:border-neutral-500 text-sm;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-white dark:bg-background border-2 border-ring dark:border-ring;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-sm text-slate-600 dark:text-foreground bg-white hover:bg-muted dark:bg-background dark:hover:bg-secondary;
  }

  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-white dark:bg-ring;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-slate-900 dark:text-slate-400 font-light text-[16px];
  }

}
